In [3]:
!pip3 install --upgrade pip
!pip3 install mysql-connector-python

# Import MySQL Connector/Python 
import mysql.connector as connector
connection=connector.connect(user="root",password="********")

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pip in /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (21.2.4)
Collecting pip
  Downloading pip-23.1.2-py3-none-any.whl (2.1 MB)
     |████████████████████████████████| 2.1 MB 1.7 MB/s eta 0:00:01    |█▋                              | 102 kB 1.7 MB/s eta 0:00:02     |███████████████████████▋        | 1.5 MB 1.7 MB/s eta 0:00:01
Installing collected packages: pip
Successfully installed pip-23.1.2
WARNING: You are using pip version 21.2.4; however, version 23.1.2 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.33-cp39-cp39-macosx_12_0_x86_64.whl (8.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.9/8.9 MB 5.5 MB/s eta 0:00:0000:0100:01
Collecting protobuf<=3.20.3,>=3.11.0 (from mysql-connector-python)
  Downloading protobuf-3.20.3-cp39-cp39-macosx_10_9_x86_64.whl (982 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 982.8/982.8 kB 7.2 MB/s eta 0:00:0000:0100:01
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.33 protobuf-3.20.3

In [4]:
cursor = connection.cursor()

In [5]:
cursor.execute("CREATE DATABASE IF NOT EXISTS little_lemon_db")

In [5]:
cursor.execute("USE little_lemon_db")

In [6]:
#MenuItems table
create_menuitem_table = """CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

In [7]:
create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

In [8]:
create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

In [9]:
create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

In [10]:
create_employees_table = """CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR(255),
Role VARCHAR(255),
Address VARCHAR(255),
Contact_Number INT,
Email VARCHAR(255),
Annual_Salary VARCHAR(255)
);"""

In [11]:
# Create MenuItems table
#cursor.execute(create_menuitem_table)

# Create Menu table
#cursor.execute(create_menu_table)

# Create Bookings table
#cursor.execute(create_booking_table)

# Create Orders table
#cursor.execute(create_orders_table)

# Create Employees table
cursor.execute(create_employees_table)

ProgrammingError: 1050 (42S01): Table 'employees' already exists

In [ ]:
#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = """
INSERT INTO employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary) VALUES
(01,'Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
(02,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""

In [ ]:
# Populate MenuItems table
# cursor.execute(insert_menuitems)
# connection.commit()

# Populate MenuItems table
# cursor.execute(insert_menu)
# connection.commit()

# Populate Bookings table
# cursor.execute(insert_bookings)
# connection.commit()

# Populate Orders table
# cursor.execute(insert_orders)
# connection.commit()

# Populate Employees table
cursor.execute(insert_employees)
connection.commit()

In [12]:
from mysql.connector import pooling
from mysql.connector import Error

In [37]:
dbconfig={"database":"little_lemon_db", "user":"root", "password":"*******"}

In [38]:
try:
    connection_pool = pooling.MySQLConnectionPool(pool_name='pool_a', pool_size=2, **dbconfig)
except Error as err:
    print('Connection ERROR:', err)

In [188]:
drop_procedure = 'DROP PROCEDURE IF EXISTS peak_hours;'
peak_hour_sql = '''
CREATE PROCEDURE peak_hours() 
BEGIN
    SELECT HOUR(BookingSlot) as booking_hour, COUNT(*) as num_booking
    FROM little_lemon_db.Bookings
    GROUP BY booking_hour
    ORDER BY num_booking DESC;
END;
'''
try:

    # Create a cursor
    connection = connection_pool.get_connection()
    cursor = connection.cursor()
    cursor.execute(drop_procedure)
    cursor.execute(peak_hour_sql)
    cursor.callproc('peak_hours')
    datasets = cursor.stored_results()

    for dataset in datasets:
        if dataset:
            column_names = [column[0] for column in dataset.description]
            print('Column Names:', column_names)
        for row in dataset:
            print(row)
except Error as error:
    print(error)
    cursor.close()
    connection.close()
finally:
    cursor.close()
    connection.close()

Column Names: ['booking_hour', 'num_booking']
(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

In [195]:
drop_procedure = 'DROP PROCEDURE IF EXISTS guest_status;'
guest_status_sql = '''
CREATE PROCEDURE guest_status() 
BEGIN
    SELECT CONCAT(GuestFirstName, ' ', GuestLastName) as GuestFullName,
    CASE
        WHEN Employees.Role = 'Manager' OR Employees.Role = 'Assistant Manager' THEN 'Ready to pay'
        WHEN Employees.Role = 'Head Chef' THEN 'Ready to serve'
        WHEN Employees.Role = 'Assistant Chef' THEN 'Preparing Order'
        ELSE 'Order served'
    END AS guest_status
    FROM little_lemon_db.Bookings LEFT JOIN little_lemon_db.Employees 
    ON Bookings.EmployeeID = Employees.EmployeeID;
END;
'''
try:

    # Create a cursor
    connection = connection_pool.get_connection()
    cursor = connection.cursor()
    cursor.execute(drop_procedure)
    cursor.execute(guest_status_sql)
    cursor.callproc('guest_status')
    datasets = cursor.stored_results()
    
    for dataset in datasets:
        if dataset:
            column_names = [column[0] for column in dataset.description]
            print('Column Names:', column_names)
        for row in dataset:
            print(row)
except Error as error:
    print(error)
    cursor.close()
    connection.close()
finally:
    cursor.close()
    connection.close()

Column Names: ['GuestFullName', 'guest_status']
('Anna Iversen', 'Ready to pay')
('Joakim Iversen', 'Ready to pay')
('Vanessa McCarthy', 'Ready to serve')
('Marcos Romero', 'Preparing Order')
('Hiroki Yamane', 'Ready to pay')
('Diana Pinto', 'Order served')